<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
</head>

<body style="margin:0;padding:0;">
    <h2>Add Post</h2>
    <form method="POST" action="add">
        <input placeholder='post title' name="title" style="margin-bottom: 10px;"><br>
        <textarea placeholder='post content' name="content" style="margin-bottom: 10px;width: 167px; min-width: 167px; min-height: 18px; max-width: 100%;"></textarea>
        <br>
        <input type="submit" value="Send">
    </form>
</body>

</html>